<!--The content below is only a placeholder and can be replaced.-->
<style type="text/css">
  .ac {
    text-align: center;
  }
</style>
<div>
  <div class="row">
    <div class="col-6">
      <h1>
        <p>
          <a routerLink="/" routerLinkActive="active">Welcome to FSE Program</a>
        </p>
      </h1>
    </div>
    <div class="col-6">
      <h5>
      <a routerLink="/create" style='margin-right:16px;margin-left:16px' routerLinkActive="active">Create</a>
      <a routerLink="/view" style='margin-right:16px' routerLinkActive="active">View</a>
    </h5>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
